#root {
  max-width: 1280px;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  background-color: gray;
}


.state-container {
  background-color: blueviolet;
  border: solid 2px black;
  margin: 5px;
  padding: 5px;
  height: fit-content;
  width: 500px;

}
